body {
    background-color: #e7efdf;
    font-family: Arial, sans-serif;
}

/* THE WHITE BOX */
.box {
    width: 400px;
    margin: 100px auto;   /* centers it */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #234b4b;
}

input {
    width: 65%;
    padding: 6px;
}

button {
    padding: 6px 10px;
    background-color: #234b4b;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    padding: 0;
    margin-top: 15px;
}

li {
    list-style: none;
    padding: 6px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

/* RED X */
.delete {
    position: absolute;
    right: 5px;
    color: red;
    cursor: pointer;
}
